.App {
  text-align: center;
}

ul li:hover {
  cursor: pointer;
}

.iconLove {
  cursor: pointer;
}

.filterBtn {
  background-color: transparent;
  border: transparent;
  width: 100%;
  height: 100%;
}
